body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.top {
  background-color: #d80000;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: bold;
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.logo-pic {
  width: 80px;
  height: 40px;
}

.search {
  width: 740px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-one {
  border-radius: 2px;
  background-color: whitesmoke;
  width: 343px;
  height: 36px;
  display: flex;
  align-items: center;
}

.search-two {
  border-radius: 2px;
  background-color: whitesmoke;
  width: 343px;
  height: 36px;
  display: flex;
  align-items: center;
}

.search-title {
  font-size: 14px;
  padding-left: 8px;
  font-weight: bold;
}

.searchbar {
  font-size: 12px;
  padding-bottom: 3px;
  padding-left: 8px;
  background-color: whitesmoke;
  height: 26px;
  width: 300px;
  border: none;
}

.searchbar:focus {
  outline: none;
}

.searchbar, input::-webkit-input-placehl {
  font-size: 12px;
}

.search-button {
  background-color: #b70000;
  border-radius: 5px;
  width: 60px;
  height: 36px;
}

.search-button:hover {
  background-color: red;
}

.search-icon {
  padding-top: 6px;
  padding-left: 15px;
  width: 24px;
  height: 24px;
}

.sign-up {
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 5px;
  background-color: #b70000;
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.sign-up:hover {
  background-color: red;
}












.bottom {
  font-size: 14px;
  font-weight: bold;
  color: whitesmoke;
  width: 100%;
  height: 27px;
  background-color: #b70000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-left {
  width: 868px;
  height: 27px;
  display: flex;
  justify-content: flex=start;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.restaurants {
  height: 27px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.restaurants:hover {
  background-color: red;
}

.nightlife {
  height: 27px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.nightlife:hover {
  background-color: red;
}

.home-services {
  height: 27px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}



.home-services:hover .dropdown-content {
    display: block;
}

.home-services:hover {
  background-color: red;
}

.buffer {
  width: 30px;
}

.write-a-review {
  display: flex;
  align-items: center;
  height: 27px;
  padding-left: 15px;
  padding-right: 15px;
}

.write-a-review:hover {
  background-color: red;
}

.events {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  padding-left: 10px;
  padding-right: 10px;
}

.events:hover {
  background-color: red;
}

.talk {
  display: flex;
  align-items: center;
  height: 27px;
  padding-left: 10px;
  padding-right: 10px;
}

.talk:hover {
  background-color: red;
}

.icon {
  height:25px;
  width: 25px;
  padding-right: 5px;
}


.bottom-right {
  justify-content: flex-end;
  align-content: center;
}

.sign-in {
  height: 27px;
  width: 104px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.sign-in:hover {
  background-color: red;
}
